<footer>
  <div class="footer-section1 flex-center">
    <div class="wrapper">
      <h1>OFFICIAL ACCOUNT</h1>
      <div class="icons">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="footer-section2 flex-center">
    <div class="wrapper">
      <div class="text">To the Monster Hunter: World Official Website</div>
      <div class="logo">
        <img src="/assets/images/logo_mhw.png" />
      </div>
    </div>
  </div>
</footer>
