nav
    position: fixed
    top: 0
    right: 0
    padding: 30px 10px
    z-index: 11
    .wrapper
        display: flex
        justify-content: space-between
        align-items: center
        position: absolute
        top: 0
        right: 100px
        transform: translateY(-100%)
    .navbar-item
        display: flex
        position: relative
        .navbar-item1
            background: url(/assets/images/btn_reservation_base.png) no-repeat
            background-size: contain
            width: 11.9vw
            height: 4vw
            border: 2px solid white
            border-top: none
            position: relative
            transition: 0.3s
            a
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                color: white
                text-decoration: none
                font-weight: bold
                letter-spacing: 1px
                width: 100%
                text-align: center

        .navbar-item2
            position: relative
            left: 30px
            background: url(/assets/images/btn_menu_base.png) no-repeat
            background-size: contain
            width: 5.6vw
            height: 6vw
            display: flex
            align-items: center
            justify-content: center
            color: white
            cursor: pointer
            z-index: 11
            &:hover
                background: url(/assets/images/btn_menu_base_on.png) no-repeat
                background-size: contain
            .menu-wrapper
                margin-top: -35px
            span
                font-size: 14px
                letter-spacing: 1px
            .hamburger-menu
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                .line
                    position: relative
                    display: block
                    width: 60%
                    height: 2px
                    background-color: white
                    margin: 2.5px 0
                    transition: 0.3s
.navbar-menu
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    background: url(/assets/images/bg_pattern.jpg) no-repeat
    background-size: cover
    background-position: center
    z-index: -1
    transition: 0.3s
    opacity: 0
    visibility: hidden
    overflow-y: auto
    .container-logo
        width: 30vw
        height: 100%
        margin: 0 auto
    .content
        display: flex
        justify-content: center
        ul
            li
                margin: 30px 0
                transform: translateX(-100%)
                opacity: 0
                a
                    font-size: 2vw
                    font-weight: bold
                    color: #0f2a40
                    letter-spacing: 1px

// Hide Scrollbar in Chrome
.navbar-menu::-webkit-scrollbar
    width: 0
    background: transparent
// Hide Scrollbar in Firefox
.navbar-menu
    scrollbar-width: none

nav.active
    .hamburger-menu
        .line
            &:first-child
                transform: rotate(210deg)
                top: 7px
            &:last-child
                transform: rotate(-210deg)
    .navbar-item1
        opacity: 0
        visibility: hidden
    .navbar-menu
        opacity: 1
        visibility: visible

@keyframes menuFade
    0%
        transform: translateX(-100%)
        opacity: 0
    100%
        transform: translateX(0%)
        opacity: 1

@keyframes showNavItem
    0%
        transform: translateY(-100%)
    100%
        transform: translateX(0%)

@media (max-width: 1920px)
    .navbar-menu
        .container-logo
            width: 600px !important
        a
            font-size: 40px !important

@media (max-width: 1500px)
    .navbar-item1
        background-size: cover !important
        width: 230px !important
        height: 70px !important

    .navbar-item2
        width: 100px !important
        height: 110px !important

@media (max-width:576px)
    nav
        .wrapper
            right: 50px
    .navbar-item1
        width: 150px !important
        height: 70px !important
    .navbar-item2
        width: 70px !important
        height: 90px !important

    .navbar-menu
        .logo
            width: 90vw
            height: 50vw
        .content
            a
                font-size: 8vw !important

@media (min-width:1920px)
    .navbar-item1
        font-size: 1vw !important
    .navbar-item2
        .menu-wrapper
            margin-top: -2vw !important
            span
                font-size: 1vw !important
        .hamburger-menu
            margin-top: 0.3vw !important
            .line
                height: 0.15vw !important
                margin: 0.09vw 0 !important
    .navbar-menu
        .content
            ul
                li
                    margin: 1vw 0 !important
