.wrapper
    position: relative
    width: 37.2vw
    height: 9.46667vw
    display: inline-block
    vertical-align: top
    margin: 0 0.66667vw
    padding: 2px
    background-color: #FFF
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4)
    transform: translateY(150%)
    opacity: 0
    &:hover
        &::before
            opacity: 1
    &::before
        opacity: 0
        pointer-events: none
        content: ""
        position: absolute
        top: 0
        left: 0
        z-index: 1
        width: 99.1%
        height: 97%
        border: 2.5px solid #0e9ee3
        transition: opacity 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75)
    &::after
        content: ""
        width: 46px
        width: 1.53333vw
        height: auto
        height: 35px
        height: 1.16667vw
        position: absolute
        bottom: 0.66667vw
        right: 0.66667vw
        z-index: 1
        background-image: url("/assets/images/icon_arrow_l_on.png")
        background-size: cover
        transition: background-image 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75)

.update-new
    margin-top: 3vw

.update-item1,
.update-item2
    display: inline-block

.update-item1
    position: relative
    display: inline-block
    width: calc( 16.53333vw - 2px)
    vertical-align: top
    img
        width: 100%
        height: auto

.update-item2
    position: relative
    display: inline-block
    text-align: left
    width: calc( 20.66667vw - 2px)
    height: calc( 9.46667vw - 2px)
    padding: 1.5vw
    background-image: url("/assets/images/waku_featured.png")
    background-position: 2px
    background-size: contain
    p
        position: absolute
        top: 50%
        transform: translateY(-50%)
        font-weight: bold
        color: #0e9ee3

@keyframes showUpdateNewItem
    0%
        opacity: 0
        transform: translateY(150%)
    100%
        opacity: 1
        transform: translateX(0%)
