.wrapper
    display: flex
    justify-content: center
.wrapper2
    display: flex
    border: 4px solid white
    .update-new-section1
        img
            width: 20vw
            height: 100%
    .update-new-section2
        .wrapper
            height: 100%
            background: url("/assets/images/waku_featured.png") no-repeat
            background-size: contain
            width: 25vw
            p
                color: rgb(14, 158, 227)
