<section id="home">
  <div class="bg-video">
    <div class="movie-wrapper">
      <video loop muted onloadedmetadata="this.muted = true">
        <source src="/assets/video/mhw_opening.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="main-logo">
    <img src="/assets/images/logo_ps4_white.png" class="main-logo1" />
    <img src="/assets/images/logo_xboxone_white.png" class="main-logo2" />
  </div>
  <div class="inner">
    <div class="content">
      <div class="sale-medal flex-center">
        <p>Over 8.2 Million Copies Shipped Worldwide!</p>
      </div>
      <img src="/assets/images/logo_iceborne_l.png" class="iceborne-logo" />
      <div class="paragraph">
        <div class="main-logo-mobile flex-center">
          <img src="/assets/images/logo_ps4_white.png" class="main-logo1" />
          <img src="/assets/images/logo_xboxone_white.png" class="main-logo2" />
        </div>
        <p class="main-text p1">Massive Expansion for Monster Hunter: World</p>
        <p class="main-text p2">Available now!</p>
      </div>
      <div class="update-new-desktop">
        <app-update-new></app-update-new>
      </div>
    </div>
  </div>
</section>

<section id="rewards">
  <div class="wrapper flex-center">
    <div class="item">
      <img src="assets/images/icon_pick01.png" class="reward1" />
    </div>
    <div class="item">
      <img src="assets/images/icon_pick02.png" class="reward2" />
    </div>
    <div class="item">
      <img src="assets/images/icon_pick03.png" class="reward3" />
    </div>
  </div>
</section>


  <app-update-new></app-update-new>


<section id="update-information">
  <div class="update-information-section1">
    <div class="wrapper flex-center mhw-card">
      <div class="update-info1">
        <div class="wrapper-icon">
          <img src="assets/images/icon_patch.png" class="icon" />
        </div>
        <span>Update Information</span>
      </div>
      <div class="update-info2">
        <div class="wrapper-text">
          <p>
            [Free Update
            <span class="text-color">Ver. 15.11</span>]
          </p>
          <p>Bug Fixes</p>
        </div>
        <div class="wrapper-arrow">
          <img src="assets/images/icon_arrow_l.png" class="icon" />
        </div>
      </div>
    </div>
  </div>
  <div class="update-information-section2">
    <div class="wrapper">
      <div class="item1 mhw-card">
        <div class="wrapper-icon">
          <img src="assets/images/icon_eventquesat.png" class="icon" />
        </div>
        <span>Event Quest Schedule</span>
        <div class="wrapper-arrow">
          <img src="assets/images/icon_arrow_l.png" class="icon" />
        </div>
      </div>
      <div class="item2 mhw-card">
        <div class="wrapper-icon">
          <img src="assets/images/icon_dlc.png" class="icon" />
        </div>
        <span>Downloadable Content</span>
        <div class="wrapper-arrow">
          <img src="assets/images/icon_arrow_l.png" class="icon" />
        </div>
      </div>
    </div>
  </div>
</section>

<lastest-information></lastest-information>

<mhw-media></mhw-media>

<section id="introduction">
  <div
    class="bg-character animate__animated animate__fadeInUp animate__slow"
  ></div>
  <div class="mhw-title flex-center">
    <h1>Introduction</h1>
  </div>
  <div class="paragraph animate__animated animate__fadeInUp animate__slow">
    <h1>Unleash Your Hunting Spirit!</h1>
    <p>
      Monster Hunter World: Iceborne is a brand new expansion for Monster
      Hunter: World.
    </p>
    <p>
      A new world awaits, with more powerful monsters, and challenging master
      rank quests!
    </p>
  </div>
</section>

<div class="new-elements mhw-title flex-center">
  <h1>New Elements</h1>
</div>

<section id="story" class="section-element">
  <div class="title">
    <h1>Story</h1>
  </div>
  <div class="wrap-content typewriter">
    <h3
      class="subtitle"
      text-data="The Research Commission Embarks on a New Adventure!"
    ></h3>
    <p
      class="paragraph"
      text-data="Featuring a new story that continues on from the ending of Monster Hunter:
      World!"
    ></p>
  </div>
  <div class="mhw-button2 flex-center">
    <a href="javascript:void(0)" class="mhw-card">
      <span>More</span>
    </a>
  </div>
</section>

<section id="ecosystem" class="section-element">
  <div class="bg-video">
    <div class="movie-wrapper">
      <video loop muted onloadedmetadata="this.muted = true">
        <source src="/assets/video/ecosystem_mhw.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="title">
    <h1>Ecosystem</h1>
  </div>
  <div class="wrap-content typewriter">
    <h3 class="subtitle" text-data="New Life"></h3>
    <p
      class="paragraph"
      text-data="A new locale: Hoarfrost Reach./
      A variety of new endemic life inhabit this frigid and unexplored region."
    ></p>
  </div>
  <div class="mhw-button2 flex-center">
    <a href="javascript:void(0)" class="mhw-card">
      <span>More</span>
    </a>
  </div>
</section>

<section id="monsters" class="section-element">
  <div class="title">
    <h1>Monsters</h1>
  </div>
  <div class="wrap-content typewriter">
    <h3 class="subtitle" text-data="New Monsters to Fight"></h3>
    <p
      class="paragraph"
      text-data="The new locale is home to various unknown monsters./ 
      Due to changes in the ecosystem, some new monsters can be found in
      familiar locales from Monster Hunter: World as well."
    ></p>
  </div>
  <div class="mhw-button2 flex-center">
    <a href="javascript:void(0)" class="mhw-card">
      <span>More</span>
    </a>
  </div>
</section>

<section id="hunting" class="section-element">
  <div class="bg-video">
    <div class="movie-wrapper">
      <video loop muted onloadedmetadata="this.muted = true">
        <source src="/assets/video/hunting_mhw.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="title">
    <h1>Hunting</h1>
  </div>
  <div class="wrap-content typewriter">
    <h3 class="subtitle" text-data="Improved Hunting Actions"></h3>
    <p
      class="paragraph"
      text-data="Your arsenal of available actions has greatly expanded with new moves and
      slinger combos,/
      for a more polished hunting experience!"
    ></p>
  </div>
  <div class="mhw-button2 flex-center">
    <a href="javascript:void(0)" class="mhw-card">
      <span>More</span>
    </a>
  </div>
</section>

<section id="new-headquarters" class="section-element">
  <div class="title">
    <h1>New Headquarters</h1>
  </div>
  <div class="wrap-content typewriter">
    <h3 class="subtitle" text-data="Seliana"></h3>
    <p
      class="paragraph"
      text-data="A new base built as the headquarters for investigations in the Hoarfrost
      Reach./
      It's complete with a variety of useful facilities and features."
    ></p>
  </div>
  <div class="mhw-button2 flex-center">
    <a href="javascript:void(0)" class="mhw-card">
      <span>More</span>
    </a>
  </div>
</section>

<section id="gameplay" class="section-element">
  <div class="title">
    <h1>Gameplay</h1>
  </div>
  <div class="wrap-content typewriter">
    <p
      class="paragraph"
      text-data="A first look at some new and updated gameplay!"
    ></p>
  </div>
  <div class="mhw-button2 flex-center">
    <a href="javascript:void(0)" class="mhw-card">
      <span>More</span>
    </a>
  </div>
</section>
