#home
    position: relative
    height: 100vh
    background: url("/assets/images/main_bg.jpg") no-repeat
    background-size: cover
    .main-logo
        position: absolute
        top: 30px
        left: 10px
        display: flex
        align-items: center
        .main-logo1
            width: 9vw
            margin-right: 20px
        .main-logo2
            width: 10vw
    .content
        position: relative
    .inner
        text-align: center
    .sale-medal
        position: absolute
        color: #0edefb
        border: 3px solid #0edefb
        border-radius: 50%
        overflow: hidden
        width: 115px
        height: 115px
        text-align: center
        background: rgba(0,0,0,0.5)
        top: 8vw
        left: 16vw
        p
            font-size: 1.1vw
    .iceborne-logo
        height: 321px
        width: 521px
    .paragraph
        .main-text
            color: white
        .main-text.p1
            font-size: 1.83333vw
            line-height: 1.6
        .main-text.p2
            font-size: 2.86667vw
            line-height: 1.6
            margin-bottom: 0.66667vw
