#home
    .content
        position: relative
    .inner
        text-align: center
    .iceborne-logo
        height: 321px
        width: 521px
    .paragraph
        .main-text
            color: white
        .main-text.p1
            font-size: 1.83333vw
            line-height: 1.6
        .main-text.p2
            font-size: 2.86667vw
            line-height: 1.6
            margin-bottom: 0.66667vw
