<section id="home">
  <div class="main-logo">
    <img src="/assets/images/logo_ps4_white.png" class="main-logo1" />
    <img src="/assets/images/logo_xboxone_white.png" class="main-logo2" />
  </div>
  <div class="inner">
    <div class="content">
      <div class="sale-medal flex-center">
        <p>Over 8.2 Million Copies Shipped Worldwide!</p>
      </div>
      <img src="/assets/images/logo_iceborne_l.png" class="iceborne-logo" />
      <div class="paragraph">
        <p class="main-text p1">Massive Expansion for Monster Hunter: World</p>
        <p class="main-text p2">Available now!</p>
      </div>
      <app-update-new></app-update-new>
    </div>
  </div>
</section>
