#mhw-media
    overflow: hidden
    .wrapper
        width: 80%
        margin: 0 auto
        position: relative
        h1
            text-align: center
            margin-bottom: 20px
            white-space: nowrap

    .mhw-title
        margin-top: 5vw
    .wrapper-image
        position: relative
        display: flex
        margin: 5px
        transition: 0.3s
        &::after
            content: ""
            width: 120px
            height: 50px
            background-image: url("/assets/images/icon_arrow_square.png")
            background-repeat: no-repeat
            background-size: cover
            background-position: center
            position: absolute
            bottom: 0
            right: 0
            transition: 0.3s
        &:hover
            border: 3px solid #0e9ee3
            &::after
                background-image: url("/assets/images/icon_arrow_square_on.png")
    .wrapper-swiper-navigation
        position: absolute
        top: 50%
        transform: translateY(-50%)
        z-index: 2
        width: 100%
    .wrapper-pagination-mhw-media
        position: absolute
        bottom: -15%
        width: 100%
        text-align: center

    .prev-icon-mhw-media,
    .next-icon-mhw-media
        width: 3.3vw
        height: 3.3vw
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        border: 3px solid black
        cursor: pointer
        &:hover
            border: 3px solid #0e9ee3

    .prev-icon-mhw-media
        background-image: url("/assets/images/btn_carousel_prev.png") !important
        position: absolute
        left: -6%
        &:hover
            background-image: url("/assets/images/btn_carousel_prev_on.png") !important
    .next-icon-mhw-media
        background-image: url("/assets/images/btn_carousel_next.png") !important
        position: absolute
        right: -6%
        &:hover
            background-image: url("/assets/images/btn_carousel_next_on.png") !important

    
