*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: url("assets/images/bg_pattern.jpg") no-repeat
    background-size: cover
    background-attachment: fixed
    height: 200vh

.inner
    width: 95%
    margin: 0 auto

.flex-center
    display: flex
    justify-content: center
    align-items: center

.main-text
    font-family: "Noto Serif JP", serif
    text-align: center
    text-shadow: 0 0 25px #000, 0 0 20px #000, 0 0 10px #000, 0 0 10px #000, 0 0 5px #000, 0 0 4px #000, 0 0 3px #000, 0 0 2px #000, 0 0 1px #000
